.btn-pos1 {
    top: 20%;
    left: 15%;
    transform: rotate(4deg);
}

.btn-pos2 {
    top: 35.5%;
    left: 12%;
    transform: rotate(-2deg);
}

.btn-pos3 {
    top: 49.5%;
    left: 25%;
    transform: rotate(-8deg);
}

.btn-pos4 {
    top: 63%;
    left: 34%;
    transform: rotate(-10deg);
}

.btn-pos5 {
    top: 78%;
    left: 45%;
    transform: rotate(-12deg);
}
