$duration: 0.2s;

//cross paths bottom to left
#fenceSq_34 {
    fill: none;
    animation: flash $duration 2s linear;
}

#fenceSq_33 {
    fill: none;
    animation: flash $duration 2.1s linear;
}

#fenceSq_32 {
    fill: none;
    animation: flash $duration 2.2s linear;
}

#fenceSq_31 {
    fill: none;
    animation: flash $duration 2.3s linear;
}

#fenceSq_30 {
    fill: none;
    animation: flash $duration 2.4s linear;
}

#fenceSq_29 {
    fill: none;
    animation: flash $duration 2.5s linear;
}

#fenceSq_28 {
    fill: none;
    animation: flash $duration 2.6s linear;
}

#fenceSq_27 {
    fill: none;
    animation: flash $duration 2.7s linear;
}

#fenceSq_26 {
    fill: none;
    animation: flash $duration 2.8s linear;
}

#fenceSq_25 {
    fill: none;
    animation: flash $duration 2.9s linear;
}

//cross paths bottom to right
#fenceSq_2 {
    fill: none;
    animation: flash $duration 2s linear;
}

#fenceSq_3 {
    fill: none;
    animation: flash $duration 2.1s linear;
}

#fenceSq_4 {
    fill: none;
    animation: flash $duration 2.2s linear;
}

#fenceSq_5 {
    fill: none;
    animation: flash $duration 2.3s linear;
}

#fenceSq_8 {
    fill: none;
    animation: flash $duration 2.4s linear;
}

#fenceSq_10 {
    fill: none;
    animation: flash $duration 2.5s linear;
}

#fenceSq_13 {
    fill: none;
    animation: flash $duration 2.6s linear;
}

#fenceSq_14 {
    fill: none;
    animation: flash $duration 2.7s linear;
}

#fenceSq_16 {
    fill: none;
    animation: flash $duration 2.8s linear;
}

#fenceSq_19 {
    fill: none;
    animation: flash $duration 2.9s linear;
}

#fenceSq_21 {
    fill: none;
    animation: flash $duration 3s linear;
}

#fenceSq_22 {
    fill: none;
    animation: flash $duration 3.1s linear;
}

//cross paths to left
#fenceSq_69 {
    fill: none;
    animation: flash $duration 2s linear;
}

#fenceSq_68 {
    fill: none;
    animation: flash $duration 2.1s linear;
}

#fenceSq_67 {
    fill: none;
    animation: flash $duration 2.2s linear;
}

#fenceSq_66 {
    fill: none;
    animation: flash $duration 2.3s linear;
}

#fenceSq_65 {
    fill: none;
    animation: flash $duration 2.4s linear;
}

#fenceSq_64 {
    fill: none;
    animation: flash $duration 2.5s linear;
}

#fenceSq_63 {
    fill: none;
    animation: flash $duration 2.6s linear;
}

#fenceSq_62 {
    fill: none;
    animation: flash $duration 2.7s linear;
}

#fenceSq_61 {
    fill: none;
    animation: flash $duration 2.8s linear;
}

#fenceSq_60 {
    fill: none;
    animation: flash $duration 2.9s linear;
}

//cross paths to right
#fenceSq_48 {
    fill: none;
    animation: flash $duration 2s linear;
}

#fenceSq_49 {
    fill: none;
    animation: flash $duration 2.1s linear;
}

#fenceSq_50 {
    fill: none;
    animation: flash $duration 2.2s linear;
}

#fenceSq_51 {
    fill: none;
    animation: flash $duration 2.3s linear;
}

#fenceSq_52 {
    fill: none;
    animation: flash $duration 2.4s linear;
}

#fenceSq_53 {
    fill: none;
    animation: flash $duration 2.5s linear;
}

#fenceSq_54 {
    fill: none;
    animation: flash $duration 2.6s linear;
}

#fenceSq_55 {
    fill: none;
    animation: flash $duration 2.7s linear;
}

#fenceSq_56 {
    fill: none;
    animation: flash $duration 2.8s linear;
}

#fenceSq_57 {
    fill: none;
    animation: flash $duration 2.9s linear;
}

#fenceSq_58 {
    fill: none;
    animation: flash $duration 3s linear;
}

//spread away
#fenceSq_35 {
    fill: none;
    animation: flash $duration 1.5s linear;
}

#fenceSq_36 {
    fill: none;
    animation: flash $duration 1.4s linear;
}

#fenceSq_37 {
    fill: none;
    animation: flash $duration 1.3s linear;
}

#fenceSq_38 {
    fill: none;
    animation: flash $duration 1.2s linear;
}

#fenceSq_39 {
    fill: none;
    animation: flash $duration 1s linear;
}

#fenceSq_40 {
    fill: none;
    animation: flash $duration 1.1s linear;
}

#fenceSq_41 {
    fill: none;
    animation: flash $duration 1.2s linear;
}

#fenceSq_42 {
    fill: none;
    animation: flash $duration 1.3s linear;
}

#fenceSq_43 {
    fill: none;
    animation: flash $duration 1.4s linear;
}

#fenceSq_44 {
    fill: none;
    animation: flash $duration 1.5s linear;
}

#fenceSq_45 {
    fill: none;
    animation: flash $duration 1.6s linear;
}

#fenceSq_46 {
    fill: none;
    animation: flash $duration 1.7s linear;
}

@keyframes flash {
    0% {
        fill: #67ff0b;
    }
    100% {
        fill: none;
    }
}

@keyframes delay {
    0% {
        fill: none;
    }
    100% {
        fill: #67ff0b;
    }
}
