// INFO BOX CONTAINER clip-path: polygon(13% 49%, 100% 38%, 84% 100%, 3% 71%);
@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Ropa+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

$font: "Allerta Stencil",
sans-serif;
$font2: "Ropa Sans",
sans-serif;
$font3: "Black Ops One",
cursive;
$font4: "Fredoka One",
cursive;
$radius: 25px;
$primary: #67ff0b;
@import "./breakpoints.scss";

.infoBox-container {
    @include media(">=phone") {
        position: absolute;
        width: 86%;
        height: 40%;
        top: 63%;
        left: 8%;
    }

    @include media(">=tablet") {
        position: absolute;
        width: 58%;
        height: 50%;
        top: 63%;
        left: 13%;
    }

    @include media(">=desktop") {
        position: absolute;
        width: 58%;
        height: 50%;
        top: 63%;
        left: 13%;
    }
}

.infoBox-outer {
    position: absolute;
    width: 110%;
    height: 120%;
    top: -25%;
    left: -6%;
    background-color: black;
    transform: rotate(-4deg);
    clip-path: polygon(13% 30%, 100% 27%, 75% 100%, 3% 71%);
}

.infoBox-inner {
    position: absolute;
    width: 93%;
    height: 95%;
    top: 11%;
    left: 4%;
    background-color: white;
    transform: rotate(-4deg);
    clip-path: polygon(13% 18%, 100% 26%, 75% 90%, 0% 54%);
}

//ATTACK BOX
.infoAttack-container {
    position: absolute;
    width: 30%;
    height: 22%;
    top: 2%;
    left: 15%;
    //border: solid 2px red;
}

.infoBox-attack-bg {
    position: absolute;
    width: 120%;
    height: 300%;
    top: -155%;
    left: -3%;
    clip-path: polygon(14% 64%, 90% 52%, 87% 86%, 6% 84%);
    background-color: black;
}

.infoBox-attack {
    position: absolute;
    width: 120%;
    height: 300%;
    top: -160%;
    clip-path: polygon(17% 63%, 90% 52%, 87% 82%, 6% 84%);
    background-color: white;
}

.attack-txt-container {
    @include media(">=phone") {
        position: absolute;
        left: 21%;
        top: 40%;
        display: flex;
        align-items: center;
        transform: rotate(-3deg);
        //border: 2px solid red;
    }

    @include media(">=tablet") {
        position: absolute;
        left: 21%;
        top: 24%;
        display: flex;
        align-items: center;
        transform: rotate(-3deg);
        //border: 2px solid red;
    }

    @include media(">=desktop") {
        position: absolute;
        left: 21%;
        top: 24%;
        display: flex;
        align-items: center;
        transform: rotate(-3deg);
        //border: 2px solid red;
    }
}

.attack-txt {
    margin-right: 1vw;
}

.attack-txt--styles {
    @include media(">=phone") {
        font-size: 14px;
        font-family: $font;
        letter-spacing: -0.0vw;
        font-weight: 800;
        color: white;
        text-shadow: 1px 1px 1px black;
        background-color: black;
    }

    @include media(">=tablet") {
        font-size: 1.8vw;
        font-family: $font;
        letter-spacing: -0.5vw;
        font-weight: 800;
        color: white;
        text-shadow: 5px 5px 1px black;
        background-color: black;
    }

    @include media(">=desktop") {
        font-size: 1.8vw;
        font-family: $font;
        letter-spacing: -0.2vw;
        font-weight: 800;
        color: white;
        text-shadow: 5px 5px 1px black;
        background-color: black;
    }
}

.attack-nums {
    display: flex;
}

.attack-nums--styles {
    @include media(">=phone") {
        font-family: $font;
        font-weight: 200;
        font-size: 18px;
        font-stretch: expanded;
    }

    @include media(">=tablet") {
        font-family: $font;
        font-weight: 200;
        font-size: 3.2vw;
        font-stretch: expanded;
    }

    @include media(">=desktop") {
        font-family: $font;
        font-weight: 200;
        font-size: 3.2vw;
        font-stretch: expanded;
    }
}

//ACCURACY BOX
.infoAccuracy-container {
    position: absolute;
    width: 33%;
    height: 24%;
    top: -1%;
    right: 20%;
    //border: solid 2px red;
}

.infoBox-accuracy-bg {
    position: absolute;
    width: 120%;
    height: 300%;
    top: -164%;
    left: 2%;
    clip-path: polygon(15% 65%, 92% 55%, 86% 86%, 3% 89%);
    background-color: black;
}

.infoBox-accuracy {
    position: absolute;
    width: 120%;
    height: 300%;
    top: -160%;
    clip-path: polygon(17% 63%, 90% 52%, 87% 82%, 6% 84%);
    background-color: white;
}

.accuracy-txt-container {
    @include media(">=phone") {
        position: absolute;
        left: 21%;
        top: 40%;
        display: flex;
        align-items: center;
        transform: rotate(-3deg);
        //border: 2px solid red;
    }

    @include media(">=tablet") {
        position: absolute;
        left: 21%;
        top: 24%;
        display: flex;
        align-items: center;
        transform: rotate(-3deg);
        //border: 2px solid red;
    }

    @include media(">=desktop") {
        position: absolute;
        left: 21%;
        top: 24%;
        display: flex;
        align-items: center;
        transform: rotate(-3deg);
        //border: 2px solid red;
    }
}

.accuracy-txt {
    margin-right: 1vw;
}

.accuracy-txt--styles {
    @include media(">=phone") {
        font-size: 14px;
        font-family: $font;
        letter-spacing: -0.4vw;
        font-weight: 800;
        color: white;
        text-shadow: 1px 1px 1px black;
        background-color: black;
    }

    @include media(">=tablet") {
        font-size: 1.8vw;
        font-family: $font;
        letter-spacing: -0.5vw;
        font-weight: 800;
        color: white;
        text-shadow: 5px 5px 1px black;
        background-color: black;
    }

    @include media(">=desktop") {
        font-size: 1.8vw;
        font-family: $font;
        letter-spacing: -0.2vw;
        font-weight: 800;
        color: white;
        text-shadow: 5px 5px 1px black;
        background-color: black;
    }
}

.accuracy-nums {
    display: flex;
}

.accuracy-nums--styles {
    @include media(">=phone") {
        font-family: $font;
        font-weight: 200;
        font-size: 18px;
        font-stretch: expanded;
    }

     @include media(">=tablet") {
         font-family: $font;
         font-weight: 200;
         font-size: 3.2vw;
         font-stretch: expanded;
     }

      @include media(">=desktop") {
          font-family: $font;
          font-weight: 200;
          font-size: 3.2vw;
          font-stretch: expanded;
      }
}

.fa-arrow-right {
    position: absolute;
    left: 100%;
    top: 0%;
    transform: rotate(-45deg);
    animation: bounce infinite linear 0.7s;
}

.effect-info-container {
    @include media(">=phone") {
        position: absolute;
        font-family: $font;
        top: 30%;
        left: 8%;
        text-align: center;
        transform: rotate(-10deg);
    }

    @include media(">=tablet") {
        position: absolute;
        font-family: $font;
        top: 30%;
        left: 10%;
        text-align: center;
        transform: rotate(-10deg);
    }

    @include media(">=desktop") {
        position: absolute;
        font-family: $font;
        top: 30%;
        left: 10%;
        text-align: center;
        transform: rotate(-10deg);
    }
}

.effect-txt--styles {
    @include media(">=phone") {
        background: lighten($color: black, $amount: 10%);
        color: white;
        font-size: 24px;
        letter-spacing: -0.4vw;
    }

    @include media(">=tablet") {
        background: lighten($color: black, $amount: 10%);
        color: white;
        font-size: 3vw;
        letter-spacing: -0.4vw;
    }

    @include media(">=desktop") {
        background: lighten($color: black, $amount: 10%);
        color: white;
        font-size: 3vw;
        letter-spacing: -0.4vw;
    }
}

.info-txt {
    padding: 0;
}

.info-txt--styles {
    @include media(">=phone") {
        color: lighten($color: black, $amount: 10%);
        font-size: 8vw;
        letter-spacing: -0.5vw;
    }

    @include media(">=tablet") {
        color: lighten($color: black, $amount: 10%);
        font-size: 5vw;
        letter-spacing: -0.5vw;
    }

    @include media(">=desktop") {
        color: lighten($color: black, $amount: 10%);
        font-size: 5vw;
        letter-spacing: -0.5vw;
    }
}

.effects-container {
    @include media(">=phone") {
        position: absolute;
        left: 32%;
        top: 28%;
    }

    @include media(">=tablet") {
        position: absolute;
        left: 29%;
        top: 28%;
    }
}

.effects--styles {
    @include media(">=phone") {
        font-size: 16px;
        font-family: $font4;
        color: lighten($color: black, $amount: 32%);
    }

    @include media(">=desktop") {
        font-size: 2vw;
        font-family: $font4;
        color: lighten($color: black, $amount: 32%);
    }
}

.dashes-container {
    @include media(">=phone") {
        position: absolute;
        left: 32%;
        top: 24%;
    }

    @include media(">=tablet") {
        position: absolute;
        left: 29%;
        top: 28%;
    }

    @include media(">=desktop") {
        position: absolute;
        left: 29%;
        top: 18%;
    }
}

.dashes--styles {
    @include media(">=phone") {
        font-size: 40px;
        letter-spacing: 1vw;
        color: lighten($color: black, $amount: 32%);
    }

    @include media(">=tablet") {
        font-size: 6vw;
        letter-spacing: 1vw;
        color: lighten($color: black, $amount: 32%);
    }
}

.currentInfo-container {
    @include media(">=phone") {
        position: absolute;
        top: 40%;
        left: 32%;
        width: 200px;
    }

    @include media(">=tablet") {
        position: absolute;
        top: 40%;
        left: 29.5%;
        width: 25vw;
    }

    @include media(">=desktop") {
        position: absolute;
        top: 40%;
        left: 29.5%;
        width: 25vw;
    }
}

.currentInfo--styles {
    @include media(">=phone") {
        font-size: 20px;
        font-family: $font4;
        color: lighten($color: black, $amount: 10%);
    }

    @include media(">=tablet") {
        font-size: 2vw;
        font-family: $font4;
        color: lighten($color: black, $amount: 10%);
    }

    @include media(">=desktop") {
        font-size: 2vw;
        font-family: $font4;
        color: lighten($color: black, $amount: 10%);
    }
}

// Arrow-right Animation
@keyframes bounce {
    0% {
        left: 100%;
        top: 0%;
    }

    5% {
        left: 98%;
        top: 20%;
    }

    10% {
        left: 100%;
        top: 0%;
    }

    100% {
        left: 100%;
        top: 0%;
    }
}